*/  {
  margin: 0;
}

body  {
  font-family: "Space Mono", monospace;
}

main  {
  max-width: 800px;
  margin: 100px auto;
}

p.game-title  {
  text-align: center;
  font-size: 45px;
}

p.game  {
  text-align: center;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
}

img {
  max-width: 220px;
  max-height: 200px;
}

p.js-result {
  text-align: center;
}

p.js-moves  {
  margin: 50px 0 40px 0;
  text-align: center;
}

p.js-score  {
  font-size: 20px;
}